# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Emil\Desktop\UNI\KomponentBaseredeSystemer\Asteriod\SB4-KOM-F20\PaxAsteroids\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
